---
import Form from '../components/search/Form.astro';
---

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <!-- <div class="d-flex"> -->
        <a href="/">
          <img src="/logo.webp" width="60px" height="100%" alt="Super Edital" />
        </a>
        <a class="navbar-brand" href="/" style="margin-left: 5px; font-weight: 600; font-size: 20px">SUPER EDITAL</a>

        <Form />
    <!-- </div> -->
  </div>
</nav>
