---
import Layout from '../../layouts/Layout.astro';
---

<Layout
  title="Super Edital - Editais de Concursos Públicos no Brasil - Política de Privacidade"
  description="Leia nossa Política de Privacidade e entenda como coletamos, protegemos e usamos suas informações pessoais. Transparência e segurança em seus dados."
>
  <main class="container mt-5 mt-md-0">
    <div class="mb-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Política de Privacidade</li>
        </ol>
      </nav>
    </div>

    <h1 class="h4">Política de Privacidade</h1>

    <div class="mt-4">
      <h2 class="h5">1. Informações Coletadas</h2>
      <p>Ao utilizar nosso site, podemos coletar as seguintes informações:</p>
      <ul>
        <li><strong>Informações pessoais:</strong> Quando você se registra em nosso site, realiza login ou se inscreve para receber atualizações, podemos coletar informações como nome, e-mail, número de telefone e outros dados necessários para o cadastro ou para a personalização dos serviços.</li>
        <li><strong>Informações de navegação:</strong> Coletamos automaticamente dados relacionados à sua navegação, como endereço IP, tipo de navegador, páginas visitadas, tempo de permanência em determinadas páginas e outros dados de interação com nosso site. Isso é feito por meio de cookies e tecnologias similares.</li>
        <li><strong>Informações de cookies:</strong> Utilizamos cookies para melhorar a experiência do usuário. Os cookies são arquivos armazenados no seu dispositivo que ajudam a lembrar suas preferências e atividades em visitas futuras. Você pode ajustar as configurações de cookies no seu navegador, mas isso pode afetar a funcionalidade do site.</li>
      </ul>

      <h2 class="h5">2. Como Usamos as Informações</h2>
      <p>As informações coletadas são utilizadas para os seguintes fins:</p>
      <ul>
        <li><strong>Melhorar a experiência do usuário:</strong> Personalizar seu acesso ao site, oferecendo sugestões de editais e concursos que podem ser do seu interesse.</li>
        <li><strong>Enviar atualizações e notificações:</strong> Enviar alertas sobre novos editais, prazos de inscrições, mudanças nos concursos e outras informações relevantes para você.</li>
        <li><strong>Análise e melhoria do serviço:</strong> Analisar dados de navegação para entender como os usuários interagem com o site e identificar áreas para melhoria.</li>
        <li><strong>Cumprir obrigações legais:</strong> Utilizar os dados conforme necessário para cumprir com a legislação aplicável ou para resolver disputas.</li>
      </ul>

      <h2 class="h5">3. Compartilhamento de Informações</h2>
      <p>Não vendemos, alugamos ou compartilhamos suas informações pessoais com terceiros, exceto nas seguintes situações:</p>
      <ul>
        <li><strong>Parcerias e fornecedores de serviço:</strong> Podemos compartilhar suas informações com prestadores de serviços que auxiliam na operação do site, como serviços de hospedagem, análise de dados e envio de e-mails. Esses terceiros só terão acesso às informações necessárias para desempenhar suas funções e são obrigados a proteger a privacidade de seus dados.</li>
        <li><strong>Cumprimento de obrigações legais:</strong> Podemos divulgar suas informações caso sejamos obrigados por lei ou em resposta a uma solicitação judicial, por exemplo, em investigações sobre atividades ilegais ou fraudes.</li>
      </ul>

      <h2 class="h5">4. Segurança das Informações</h2>
      <p>Empregamos medidas de segurança técnicas e administrativas para proteger as suas informações pessoais contra acessos não autorizados, alterações, divulgação ou destruição. No entanto, é importante observar que nenhuma transmissão de dados pela internet é 100% segura, e não podemos garantir a segurança absoluta dos dados transmitidos.</p>

      <h2 class="h5">5. Direitos do Usuário</h2>
      <p>Você tem os seguintes direitos em relação às suas informações pessoais:</p>
      <ul>
        <li><strong>Acesso e correção:</strong> Você pode acessar, corrigir ou atualizar suas informações pessoais a qualquer momento, fazendo login em sua conta no site ou entrando em contato conosco.</li>
        <li><strong>Exclusão:</strong> Você pode solicitar a exclusão de sua conta e dados pessoais, exceto quando houver uma obrigação legal que nos impeça de apagar certas informações.</li>
        <li><strong>Revogação de consentimento:</strong> Se você nos forneceu consentimento para o uso de seus dados em determinadas atividades, pode revogar esse consentimento a qualquer momento. No entanto, isso pode afetar a funcionalidade do site.</li>
        <li><strong>Direito de objeção:</strong> Você pode, a qualquer momento, se opor ao uso de seus dados para finalidades específicas, como marketing direto.</li>
      </ul>

      <h2 class="h5">6. Links para Sites de Terceiros</h2>
      <p>Nosso site pode conter links para sites de terceiros, como fontes de editais de concursos. Não somos responsáveis pela privacidade ou pelo conteúdo desses sites. Recomendamos que você leia as políticas de privacidade de outros sites antes de fornecer suas informações pessoais.</p>

      <h2 class="h5">7. Alterações nesta Política de Privacidade</h2>
      <p>Podemos atualizar esta Política de Privacidade periodicamente para refletir mudanças nas nossas práticas ou em conformidade com a legislação vigente. Sempre que fizermos alterações significativas, publicaremos a versão atualizada no site e indicaremos a data da última atualização.</p>

      <h2 class="h5">8. Contato</h2>
      <p>Se você tiver dúvidas ou preocupações sobre nossa Política de Privacidade ou sobre o uso de seus dados pessoais, entre em contato conosco através do e-mail <strong>contato@superedital.com.br</strong></p>
    </div>
  </main>
</Layout>